.timer_bar {
  height: 10px;
  background: red;
  margin-bottom: 1rem;
  animation: timer 10s linear;
}

.question_box {
  padding: 1rem;
}
.question {
  margin-bottom: 1rem;
}
.option {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid lightgray;
  margin-bottom: 1rem;
  cursor: pointer;
}
.option:hover {
  background: #313131;
  color: whitesmoke;
}
.option.selected {
  background: #4caf50;
  color: white;
}
.next_button {
  padding: 0.5rem 1rem;
  font-size: 1.05rem;
  border-radius: 4px;
  border: none;
  background: greenyellow;
  cursor: pointer;
}
.next_button:hover {
  background: green;
  color: whitesmoke;
}

@keyframes timer {
  0% {
    width: 0;
    background-color: lightgreen;
  }
  25% {
    width: 25%;
    background-color: green;
  }
  50% {
    width: 50%;
    background-color: yellow;
  }
  75% {
    width: 75%;
    background-color: orange;
  }
  100% {
    width: 100%;
    background-color: red;
  }
}
